<fieldset>
  <legend>Seach Criterios</legend>

  <div class="principal">
    <input type="input" id="docnumber" name="docnumber" placeholder="Document Number">
    <select name="tpmoeda" id="tpmoeda" style = "display: inline; width:232px; height:23px;">
      <option value="" selected> Selecione.. </option>
      <option value="dolar">Dolar</option>
      <option value="real">Real</option>
      <option value="speruano">Soles Peruano</option>
    </select>
      <label for="dinicial">Document Date</label>
      <input class="dtinput" type="date" id="dtinicial" name="dtinicial">
      <label for="dtfinal"> ~ </label>
      <input class="dtinput" type="date" id="dtfinal" name="dtfinal">
  </div>
  <div class="divbotoes">
    <input id= "btsearch" type="submit" value="Seach">
    <input id= "btclear" type="submit" value="Clear">
  </div>
</fieldset>
